body{
  background-color: white;
}
h1{
  text-decoration: underline;
  font-family: 'Indie Flower', Cursive;
  color: black;
  font-size: 200px;
  text-align: center;
}
th{
  color: black;
  width: 30%;
  padding: 1.6%;
  font-family: 'Indie Flower', Cursive;
  font-size: 30px;
}
img{
  width: 100%;
}
td{
  width: 30%;
  padding: 1.6%;
}
p{
  color: black;
  font-family: Georgia, Cursive;
  text-align: center;
  font-size: 27px;
}
.img-rounded {
  border-radius: 20px;
}
.container a{
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}
.top{
  margin-left: 47%;
}
