body{
  background-color: white;
}
h1{
  text-decoration: underline;
  font-family: 'Indie Flower', Cursive;
  color: black;
  font-size: 200px;
  text-align: center;
}
.txt{
  color: black;
  font-family: 'Indie Flower', Cursive;
  font-size: 36px;
}
img{
  width: 100%;
}
p{
  color: black;
  font-family: Georgia, Cursive;
  text-align: center;
  font-size: 27px;
}
.img-rounded {
  border-radius: 20px;
}
.container a{
  font-size: 30px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}
.top{
  margin-left: 47%;
}
.navbar{
  min-height: 60px;
}
.jumbotron{
  margin-top: 100px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #429bf5;
}
